@media screen and (min-width: 1000px) {

   .container {
        width: 1000px;
   }

    .history {
        max-width: 1000px;
    }

    .weAreBestContainer {
        width: 998px;

    }

    .weAreBestContainerDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .weAreBest_text_wrapper {
        text-align: center;
        width: 332px;
    }

    .qualityEnvironment,
    .qualityPrograms,
    .excellentTeachers {
        display: flex;
        flex-direction: column;
        width: 290px;
    }

    .viewLink {
        margin: 0 auto;
    }

    .weAreBestContainer h3 {
        padding: 27px 0;
    }

    .weAreBestContainer p {
        height: 120px;
        width: 300px;
        margin: 0;
    }

    .reviewContainer {
        width: 1000px;

    }

    .memberReview {
        width: 760px;
    }

    .message {
        width: 755px;
    }




}